@import url(https://fonts.googleapis.com/css?family=Cinzel);

body {
  background: url("battle.jpg") no-repeat fixed #241f19;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position-x: 70%;
  color: hsla(34,28%,31%,1);
  padding: 2%;
  margin: 0;
  font-family: 'Cinzel', serif;
  text-shadow: 1px 1px 7px rgba(62, 56, 43, 0.12);
  font-weight: normal;
  line-height: .8;
}

.flex-container {
  padding: 0;
  margin: 0;
  margin-top: 4vw;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: center;
}

.btn {
  background: #802822;
  border-radius: 4px;
  color: #F7F2F3;
  font-size: 16px;
  padding: 5px 20px;
  border: solid #1f628d 1px;
  text-decoration: none;
  transition-duration: 2s;
}

.btn:hover {
  background: #76c8a8;
  transition-duration: 1s;
  text-decoration: none;
}

.box {
  background: rgba(29, 25, 25, 0.94);
  padding: 15px;
  color: #C7C1A9;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  border-radius: 6px;
  line-height: 1.2;
  margin: 20px;
  max-width: 270px;
}

.box2 {
  background: rgba(29, 25, 25, 0.94);
  padding: 25px;
  color: #C7C1A9;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  border-radius: 6px;
  max-width: 635px;
  line-height: 1.2;
}

.box2 h3 {
  font-size: 5vw;
  margin: 0;
}

.box2 p {
  font-size: 18px;
  margin: 6px;
}

select {
  border-top: solid 0px #800000;
  border-right: solid 0px #800000;
  border-bottom: solid 2px hsl(34, 16%, 46%);
  border-left: solid 0px #800000;
  font-size: 20px;
  background-color: rgba(79, 75, 75, 0);
  color: hsla(30,25%,80%,1);
  text-align: center;
  font-family: 'Cinzel', serif;
}

input {
  border-top: solid 0px #800000;
  border-right: solid 0px #800000;
  border-bottom: solid 2px hsl(34, 16%, 46%);
  border-left: solid 0px #800000;
  font-size: 23px;
  background-color: rgba(79, 75, 75, 0);
  color: hsl(214, 100%, 92%);
  text-align: center;
  font-family: 'Cinzel', serif;
}

input:hover  {
  border-top: solid 0px #00A6FF;
  border-right: solid 0px #00A6FF;
  border-bottom: solid 2px #00A6FF;
  border-left: solid 0px #00A6FF;
}

input:focus  {
  border-top: solid 0px #0E89F5;
  border-right: solid 0px #0E89F5;
  border-bottom: solid 2px #0E89F5;
  border-left: solid 0px #0E89F5;
  box-shadow: inset 0px 1px 2px 0px #9C9C9C;
  border: 0px;
  background-color: #652523;
}

input:active  {
  border: solid 2px #0043EB;
}

header {
  font-size: 13.4vw;
  text-align: center;
  background: linear-gradient(360deg, #0c1b57 0%, #9ad1f6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0;
  margin-top: 2.2em;
  font-weight: 500;
  text-shadow: 13px 1px 20px rgba(3, 0, 0, 0.41);
}

h1 {
  font-size: 4.5vmax;
  color: #c87676;
  margin: 0 0 14px 0;
  text-align: center;
  text-shadow: 13px 1px 20px rgba(3, 0, 0, 0.31);
  font-weight: normal;
}

label {
  font-size: 20px;
}

hr {
  border: 0;
  height: 6px;
  margin: 0;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(112, 46, 37), rgba(0, 0, 0, 0));
  flex: 1 100%;
  margin-bottom: 20px;
}

.notice {
  font-size: 14px;
  color: #56C88D;
  margin: 10px 0;
}